{% block headerFos %}
<!DOCTYPE html>
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta charset="UTF-8"/>
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link rel="pingback" href="xmlrpc.php"/>

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <title>Host&Guest</title>
    <script type="application/javascript"></script>
    <link rel="alternate" type="application/rss+xml" title="Search&amp;Go &raquo; Comments Feed" href="comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/searchandgo.elated-themes.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.7"}};
        !function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='eltd_woocommerce-css'  href='{{ asset('assets/css/woocommerce.min801b.css?ver=4.5.7') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='eltd_woocommerce_responsive-css'  href='{{ asset('assets/css/woocommerce-responsive.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='buttons-css'  href='{{ asset('assets/css/buttons.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css'  href='{{ asset('assets/css/dashicons.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css'  href='{{ asset('assets/css/mediaelementplayer.mineb0c.css?ver=2.18.1') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-mediaelement-css'  href='{{ asset('assets/css/wp-mediaelement.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='media-views-css'  href='{{ asset('assets/css/media-views.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='imgareaselect-css'  href='{{ asset('assets/css/imgareaselect3bf4.css?ver=0.9.8') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_default_style-css'  href='{{ asset('assets/css/style801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_modules_plugins-css'  href='{{ asset('assets/css/plugins.min801b.css?ver=4.5.7') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_modules-css'  href='{{ asset('assets/css/modules.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <style id='search_and_go_elated_modules-inline-css' type='text/css'>
        .textwidget #lang_sel {
            display: inline-block;
        }
        .eltd-three-columns-inner .eltd-column .textwidget {
            text-align: center;
        }
        .eltd-three-columns-inner .eltd-column .widget_search form {
            width: 72.2%;
            margin-left: auto;
            margin-right: 0;
        }
        @media only screen and (max-width: 768px){

            .eltd-three-columns-inner .eltd-column .widget_search form {
                width: 50%;
                margin: 0 auto;
            }

        }
        @media only screen and (max-width: 600px){

            .eltd-three-columns-inner .eltd-column .widget_search form {
                width: 75%;
            }

        }
    </style>
    {% block aimeos_header %}{% endblock %}
    {% block aimeos_styles %}{% endblock %}
    <link rel='stylesheet' id='eltd_font_awesome-css'  href='{{ asset('assets/css/font-awesome/css/font-awesome.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='eltd_font_elegant-css'  href='{{ asset('assets/css/elegant-icons/style.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='eltd_ion_icons-css'  href='{{ asset('assets/css/ion-icons/css/ionicons.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='eltd_linea_icons-css'  href='{{ asset('assets/css/linea-icons/style801b.css?ver=4.5.7') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='eltd_simple_line_icons-css'  href='{{ asset('assets/css/simple-line-icons/simple-line-icons801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='eltd_dripicons-css'  href='{{ asset('assets/css/dripicons/dripicons801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='eltd_linear_icons-css'  href='{{ asset('assets/css/linea-icons/style801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_blog-css'  href='{{ asset('assets/css/blog.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_modules_responsive-css'  href='{{ asset('assets/css/modules-responsive.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_blog_responsive-css'  href='{{ asset('assets/css/blog-responsive.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_style_dynamic_responsive-css'  href='{{ asset('assets/css/style_dynamic_responsive80c3.css?ver=1489658003') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_listings-css'  href='{{ asset('assets/css/listings.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_listings_responsive-css'  href='{{ asset('assets/css/listings-responsive.min801b.css?ver=4.5.7') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_style_dynamic-css'  href='{{ asset('assets/css/style_dynamic80c3.css?ver=1489658003') }} ' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css'  href='{{ asset('assets/css/js_composer.min0147.css?ver=4.12') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='search_and_go_elated_google_fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CCourgette%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPoppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=latin%2Clatin-ext&amp;ver=1.0.0' type='text/css' media='all' />
    <script type='text/javascript' src='{{ asset('assets/js/jquery.min801b.js?ver=4.5.7') }} '></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var userSettings = {"url":"\/","uid":"0","time":"1489884936","secure":""};
        /* ]]> */
    </script>
    <script type='text/javascript' src='{{ asset('assets/js/utils.min801b.js?ver=4.5.7') }}'></script>
    <script type='text/javascript' src='{{ asset('assets/js/plupload/plupload.full.mincc91.js?ver=2.1.8') }} '></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/searchandgo.elated-themes.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='{{ asset('assets/js/frontend/add-to-cart.minc141.js?ver=2.6.1') }} '></script>
    <script type='text/javascript' src='{{ asset('assets/js/vendors/woocommerce-add-to-cart0147.js?ver=4.12') }} '></script>
    <script type='text/javascript' src='{{ asset('assets/js/platform.js') }}'></script>
    <link rel='https://api.w.org/' href='wp-json/index.html' />
    <link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embedf1a4.json?url=http%3A%2F%2Fsearchandgo.elated-themes.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed1b7c?url=http%3A%2F%2Fsearchandgo.elated-themes.com%2F&amp;format=xml" />
    <style type="text/css">
        body.post-type-archive-listing-item .eltd-page-header { top: 34px;}


        body.post-type-archive-listing-item .eltd-content { margin-top: 114px;}


        .page-id-6 .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner, .page-id-6 .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner { padding: 0;}

    </style>		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
    <link rel="icon" href="{{ asset('assets/img/02/logo.png') }}" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/img/02/logo.png') }}" />
    <meta name="msapplication-TileImage" content="{{ asset('assets/img/02/logo.png') }}" />
    <style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1459156569874{padding-top: 3% !important;}.vc_custom_1459245285911{padding-top: 78px !important;padding-bottom: 35px !important;}.vc_custom_1459246474047{padding-bottom: 125px !important;}.vc_custom_1459246838864{padding-top: 78px !important;padding-bottom: 35px !important;}.vc_custom_1457706445914{padding-bottom: 100px !important;}.vc_custom_1459250150521{padding-top: 78px !important;padding-bottom: 75px !important;background-image: url(assets/img/02/bckg-mapb3ec.jpg?id=862) !important;}.vc_custom_1456407552942{padding-top: 110px !important;padding-bottom: 100px !important;background-color: #f7f7f7 !important;}.vc_custom_1459250987178{padding-top: 80px !important;}.vc_custom_1457708168076{padding-bottom: 105px !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
{% endblock %}